@font-face {
    font-family: "Edwardian Script ITC";
    src: url("../fonts/ITCEDSCR.TTF");
}

@font-face {
    font-family: "Castellar";
    src: url("../fonts/CASTELAR.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.6;
    font-family: Arial;
}
a {
    text-decoration: none;
    color: #fff;
}
#loadBG {
    display: none;
}
.loader{
    position: fixed !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(226, 65, 41);
    z-index: 1000;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.loading { 
    font-size: 16px;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 0.3em solid rgba(255,255,255, 0.1);
    border-right-color: rgba(255,255,255, 1);
    -webkit-animation: loading-anim 0.5s 0s infinite linear;
    animation: loading-anim 0.5s 0s infinite linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2001;
}
.loading:before { 
    content: '';
    width: 3.8em;
    height: 3.8em;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.2em solid rgba(255,255,255, 0.1);
    border-right-color: rgba(255,255,255, 1);
    display: block;
    -webkit-animation: loading-anim 0.3s 0s reverse infinite linear;
    animation: loading-anim 0.3s 0s reverse infinite linear;
}
@-webkit-keyframes loading-anim {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading-anim {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#navbar {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 8;
}
#navbar nav {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #222;
}
#navbar nav li {
    display: inline-block;
    width: 20%;
    margin: 1% 5%;
    min-width: 80px;
    text-decoration: none;
    font-family: 'Castellar', serif;
    font-weight: 100;
    font-size: 1.0em;
    background-color: rgba(160, 44, 27, 1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 0 20px;
    -webkit-transition: -webkit-transform 50ms linear;
    transition: -webkit-transform 50ms linear;
    transition: transform 50ms linear;
    transition: transform 50ms linear, -webkit-transform 50ms linear;
}
#navbar nav li:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
}
#wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 55vw;
    overflow: hidden;
}
.layer {
    position: absolute;
    width: 100vw;
    min-height: 55vw;
    height: 100vh;
    overflow: hidden;
}
.layer .content-wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    min-height: 55vw;

}
.layer .content-body {
    position: absolute;
    top: 25%;
    text-align: center;
    color: #111;
}
.layer img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -49%);
    transform: translate(-50%, -49%);
    overflow: hidden;
    -webkit-filter: brightness(1.4);
    filter: brightness(1.4);
}
.layer .cover--black {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.9;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(60%, rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.63)), to(rgba(0, 0, 0, 1)));
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.63) 90%, rgba(0, 0, 0, 1) 100%);
    left: 0;
}
.top .content-body {
    width: 100%;
    text-align: center;
    z-index: 10;
    font-family: 'Edwardian Script ITC', Castellar,  serif;
    letter-spacing: 1px;
}
.bottom .content-body {
    width: 100%;
    text-align: center;
    font-family: 'Edwardian Script ITC',Castellar, serif;
    z-index: 9;
    letter-spacing: 1px;
}
.layer h1 {
    font-size: 5.5em;
    margin-bottom: 5%;
    padding: 0 5%;
    line-height: 1em;
    font-weight: 600;
}
.layer p {
    font-size: 1.3em;
    margin: 0;
    padding: 5px 10px;
    color: #fff;
    background-color: rgba(160, 44, 27, 1);
    border-radius: 10px;
    display: inline;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    font-family: 'Castellar', serif;
}
.bottem {
    z-index: 1;
}
.top {
    z-index: 2;
    width: 50vw;
}
.bottom .content-wrap {
    z-index: 2;
}
.handle {
    position: absolute;
    height: 100%;
    display: block;
    background-color: #FDAB00;
    width: 0px;
    top: 0;
    left: 50%;
    z-index: 3;
}
.skewed .handle {
    top: 50%;
    -webkit-transform: rotate(0deg) translateY(-50%);
    transform: rotate(0deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    transform-origin: top;
}
.skewed .top {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}
.skewed .top .content-wrap {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
    margin-left: 1000px;
}
@media(max-width:768px) {
    body {
        font-size: 75%;
    }
}
.arrow-down {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}
.arrow-down i {
    font-size: 2.5em;
    color: #fff;
    -webkit-animation: bounce 0.7s linear alternate infinite;
    animation: bounce 0.7s linear alternate infinite;
    cursor: pointer;
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
}
@keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
}
.slider {
    padding: 0;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.slider a {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 25%;
    min-width: 100px;
}
.slider a div {
    height: 400px;
    -webkit-transition: -webkit-filter 500ms ease;
    transition: -webkit-filter 500ms ease;
    transition: filter 500ms ease;
    transition: filter 500ms ease, -webkit-filter 500ms ease;
    -webkit-filter: saturate(0%);
    filter: saturate(0%);
}
.slider h3,
.slider p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Montserrat;
    text-align: center;
    position: relative;
    top: 65%;
}
.slider h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
}
.slider p {
    font-family: Georgia;
    font-size: 1.4rem;
    font-style: italic;
    line-height: 30px;
    font-weight: 100;
    letter-spacing: 1px;
}

.slider a:last-child div {
    margin-left: 0px;
}
.slider div:hover {
    -webkit-filter: saturate(120%) brightness(120%);
    filter: saturate(120%) brightness(120%);
}
#img1 {
    background-image: url('../img/janko-ferlic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img2 {
    background-image: url('../img/robin-vet.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img3 {
    background-image: url('../img/clem-onojeghuo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#img4 {
    background-image: url('../img/dan-gold.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer div .credits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: rgba(21, 21, 21, 0.9);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5%;
}
.credits li,
.credits li a {
    font-family: Georgia;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 2em;
    color: rgba(21, 21, 21, 0.9);
    list-style: none;
}
.credits .font-menu {
    text-transform: uppercase;
    font-family: Arial, Roboto;
    font-weight: 900;
    letter-spacing: 0px !important;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #151515;
    margin-bottom: 20px;
    height: 30px;
}
.footer-column {
    padding-left: 8%;
    width: 200px;
}
.footer-column:last-child {
    width: 400px;
    padding-right: 8%;
}
.copyright {
    padding: 10px;
    text-align: center;
    background-color: rgba(21, 21, 21, 1);
    color: #fff;
    font-size: 1rem;
    font-family: Georgia;
}
@media (max-width: 960px) {

    .slider a {
        width: 50%;
    }
    footer div .credits {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: justify;
        align-content: space-between;
    }
    .footer-column {
        padding-left: 10%;
        width: 20%;
        margin: 0;
        margin-bottom: 30px;
    }
    .footer-column:last-child {
        width: 100%;
        padding: 0 10%;
    }
}
@media (max-width: 540px) {
    .footer-column {
        padding: 0;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 20px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .slider a {
        width: 100%;
    }
    #navbar nav li a {
        display: block;
    }
    .layer img {
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -10%);
        transform: translate(-50%, -10%);
    }
}